.vs/
JungleAPI/.vs/JungleAPI/v17/.suo
JungleAPI/.vs/JungleAPI/v17/DocumentLayout.json
JungleAPI/JungleAPI/bin/Debug/net8.0/JungleAPI.dll
JungleAPI/JungleAPI/bin/Debug/net8.0/JungleAPI.exe
JungleAPI/JungleAPI/bin/Debug/net8.0/JungleAPI.pdb
JungleAPI/JungleAPI/obj/Debug/net8.0/ApiEndpoints.json
JungleAPI/JungleAPI/obj/Debug/net8.0/apphost.exe
JungleAPI/JungleAPI/obj/Debug/net8.0/JungleAPI.AssemblyInfo.cs
JungleAPI/JungleAPI/obj/Debug/net8.0/JungleAPI.AssemblyInfoInputs.cache
JungleAPI/JungleAPI/obj/Debug/net8.0/JungleAPI.assets.cache
JungleAPI/JungleAPI/obj/Debug/net8.0/JungleAPI.csproj.AssemblyReference.cache
JungleAPI/JungleAPI/obj/Debug/net8.0/JungleAPI.csproj.CoreCompileInputs.cache
JungleAPI/JungleAPI/obj/Debug/net8.0/JungleAPI.csproj.FileListAbsolute.txt
JungleAPI/JungleAPI/obj/Debug/net8.0/JungleAPI.dll
JungleAPI/JungleAPI/obj/Debug/net8.0/JungleAPI.GeneratedMSBuildEditorConfig.editorconfig
JungleAPI/JungleAPI/obj/Debug/net8.0/JungleAPI.genruntimeconfig.cache
JungleAPI/JungleAPI/obj/Debug/net8.0/JungleAPI.MvcApplicationPartsAssemblyInfo.cs
JungleAPI/JungleAPI/obj/Debug/net8.0/JungleAPI.pdb
JungleAPI/JungleAPI/obj/Debug/net8.0/JungleAPI.sourcelink.json
JungleAPI/JungleAPI/obj/Debug/net8.0/ref/JungleAPI.dll
JungleAPI/JungleAPI/obj/Debug/net8.0/refint/JungleAPI.dll
JungleAPI/JungleAPI/obj/JungleAPI.csproj.nuget.dgspec.json
JungleAPI/JungleAPI/obj/JungleAPI.csproj.nuget.g.props
JungleAPI/JungleAPI/obj/project.assets.json
JungleAPI/JungleAPI/obj/project.nuget.cache
